{% extends "_layouts/base.html" %}
{% block content %}

    <h1>Equipo {{ equipo }}</h1>

    <h2>Jugadores</h2>
    <div class="lista-jugadores">
    </div>


{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $.post('{% url "base_equipos_get_lista_jugadores_equipo" %}', {equipo_id:{{ equipo.id }} }).done(function(html){
                $('.lista-jugadores').html(html);
            });
            $('.lista-jugadores').on('click', '.aprobar-membresia', function(){
                var data = {
                    jugador_id: $(this).attr('data-jugador-id'),
                    equipo_id: $(this).attr('data-equipo-id')
                };
                var posting = $.post('{% url "base_equipos_aprobar_membresia" %}', data);
                posting.done(function(ok){
                    if(ok === true) {
                        $.post('{% url "base_equipos_get_lista_jugadores_equipo" %}', data).done(function(html){
                            $('.lista-jugadores').html(html);
                        });
                    }
                });
            });
        });
    </script>

{% endblock %}