<ul>
    {% for jugador in jugadores %}
        <li>
            {{ jugador }}

            <a class="btn btn-mini btn-danger borrar"
               data-jugador-id="{{ jugador.id }}"
               data-equipo-id="{{ equipo.id }}"
               href="#">borrar</a>
        </li>
    {% endfor %}
    {% for jugador in jugadores_pendientes %}
        <li>
            {{ jugador }}
            <a class="btn btn-mini btn-success aprobar-membresia"
               data-jugador-id="{{ jugador.id }}"
               data-equipo-id="{{ equipo.id }}"
               href="#">aprobar</a>
            <a class="btn btn-mini btn-danger rechazar-membresia" href="#">rechazar</a>
        </li>
    {% endfor %}
</ul>
<script>
    $(function() {
        $('.borrar').on('click', function(){
            confirm_borrar = confirm("Seguro que deseas eliminar este jugador del equipo?");
            if(confirm_borrar){
                var data = {
                    jugador_id: $(this).attr('data-jugador-id'),
                    equipo_id: $(this).attr('data-equipo-id')
                };
                var borrar_jugador = $.post('{% url "base_equipos_borrar_membresia" %}', data);
                borrar_jugador.done(function(ok){
                    if(ok === true) {
                        $.post('{% url "base_equipos_get_lista_jugadores_equipo" %}', data).done(function(html){
                            $('.lista-jugadores').html(html);
                        });
                    }
                });
            }
            return false;
       });
    });
</script>