{% extends "_layouts/base.html" %}
{% block content %}
<p>Hola {{ user.first_name }}</p>

{% if user.jugador %}
    {% if user.jugador.equipos.all|length > 0 %}
        {% if user.jugador.equipo.all|length_is:1 %}
            Tu equipo es {{ user.jugador.equipos.0.nombre }}
        {% else %}
        Tus equipos son:
        <ul>
            {% for membresia in user.jugador.membresia_equipos.all %}
            <li>
                <a href="{% url "base_equipo_detail" equipo_nombre=membresia.equipo equipo_id=membresia.equipo.id %}">
                    {{ membresia.equipo }}
                </a>
                {% if membresia.es_admin %}
                    <a class="btn btn-mini" href="{% url "base_equipos_administrar_membresia_equipo" equipo_id=membresia.equipo.id %}">
                        Administrar
                    </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% else %}
        <p>Al parecer no tienes equipo</p>
        <p>
            Formas parte de un equipo?
            <a class="btn btn-primary" href="{% url "base_equipos_solicitar_membresia" %}">
                Dile al capitán
            </a>
        </p>
    {% endif %}
{% endif %}
{% endblock %}
